body {

	font-family: 'Open Sans', sans-serif;
	color: #141414;
	font-weight:300;
}
a {color:#92b964;
	text-decoration: none;
}
a:hover {color:#fed586;}

.intro_contain
{
	padding:100px 100px;
}
.about 
{	padding-left:40px;
	margin-bottom: 30px;

	}

#intro {font-size: 17px;}
#contact {font-size: 17px;}
.social {
	padding-right: 10px;
}
.jumbotron
{
	margin-bottom: 0;
}

.project
{
	padding-left: 180px;
}
.project h3
{
	font-size: 30px;
	font-weight: 300;
	line-height: 45px;
}
.project p
{
	font-size: 16px;
	font-weight: 200;
	line-height: 30px;
}
.btn.round
{
	border-radius:25px;
	border:none;
}
/*.portfolio-section
{
	padding-left:40px;
}*/
/**.project {
	border: solid 1px black;
	height: 200px;
}**/